[Unit]
  Description=Open Automation Service
  After=network.service

  [Service]
  ExecStart=/bin/sh -c "/usr/bin/node /var/www/html/mqttserver.js"	
  WorkingDirectory=/var/www/html
  Restart=always
  RestartSec=5s

  [Install]
  WantedBy=multi-user.target